<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save.html</title>
    <style>
        .field-error {
            color: red;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        /* 아이디 입력을 하는 동안에 idDuplicate() 함수를 호출하고 입력된 값을 콘솔에 출력 */
        function emailDp(){
            const id = document.getElementById('memberEmail').value;
            console.log(id);
            const checkResult = document.getElementById('email_Dp');
            $.ajax({
                    type: 'post', // 전송방식(get, post, put 등)
                    url: 'emailDp', // 요청주소(controller로 요청하는 주소)
                    data: {'memberEmail': id},	// 전송할 데이터
                    dataType: 'text', // 요청 후 리턴받을 때의 데이터 형식
                    success: function(result) {	// 요청이 성공적으로 처리됐을때 실행 할 함수
                        console.log('ajax 성공');
                        console.log(result); // MemberController에서 넘어온 result값 찍어보기(ok or no)
                        if(result=="ok"){
                            checkResult.style.color = 'green';
                            checkResult.innerHTML = '멋진 아이디네요!!';
                        } else {
                            checkResult.style.color = 'red';
                            checkResult.innerHTML = '이미 사용중인 아이디입니다.';
                        }
                    },
                error: function() {	// 요청이 실패했을때 실행 할 함수
                console.log('오타 찾으세요.');
            }

        });
        }
    </script>

    <script type="text/javascript">
        $(function(){
            $("#alert-success").hide();
            $("#alert-danger").hide();
            $("input").keyup(function(){
                var pwd1=$("#pwd1").val();
                var pwd2=$("#pwd2").val();
                if(pwd1 != "" || pwd2 != ""){
                    if(pwd1 == pwd2){
                        $("#alert-success").show();
                        $("#alert-danger").hide();
                        $("#submit").removeAttr("disabled");
                    }else{
                        $("#alert-success").hide();
                        $("#alert-danger").show();
                        $("#submit").attr("disabled", "disabled");
                    }
                }
            });
        });
    </script>

</head>
<body>
<form action="/member/save" method="post" th:object="${member}">
    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err: ${#fields.globalErrors()}" th:text="${err}">글로벌오류</p>
    </div>
   이메일:  <input type="text" th:field="*{memberEmail}"  onblur="emailDp()" id="memberEmail" placeholder="이메일">
    <span id="email_Dp"></span><br>
    <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" th:errorclass="field-error"></p>
   비밀번호: <input type="password" id="pwd1" th:field="*{memberPw}" placeholder="비밀번호"><br>
    <p th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}" th:errorclass="field-error"></p>
   비밀번호 확인: <input type="password" id="pwd2" placeholder="비밀번호 확인"><br>
    <div class="alert alert-success" id="alert-success" style="color : green">비밀번호가 일치합니다.</div>
    <div class="alert alert-danger" id="alert-danger" style="color : red">비밀번호가 일치하지 않습니다.</div>
   이름:    <input type="text" th:field="*{memberName}" placeholder="이름"><br>
    <p th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}" th:errorclass="field-error"></p>
   주소:    <input type="text" th:field="*{memberAddr}" placeholder="주소"><br>
    <p th:if="${#fields.hasErrors('memberAddr')}" th:errors="*{memberAddr}" th:errorclass="field-error"></p>
   핸드폰번호: <input type="text" th:field="*{memberPhone}" placeholder="핸드폰번호"><br>
    <p th:if="${#fields.hasErrors('memberPhone')}" th:errors="*{memberPhone}" th:errorclass="field-error"></p>
    <input type="submit" value="회원가입">
</form>
</body>
</html>