<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script>
        function search() {
            let keyword = document.getElementById('search').value;
            var xhr = new XMLHttpRequest();
            var url = 'http://api.visitkorea.or.kr/openapi/service/rest/GoCamping/searchList'; /*URL*/
            var queryParams = '?' + encodeURIComponent('serviceKey') + '=' + '5K22ERxYpx037uiwVJ9pScUhIGitPmhoLBa4gLyKG6dKQkPgt19o8hvQCF97fjdE0M%2FBrbX%2B559dIXy6dwXLCA%3D%3D'; /*Service Key*/
            queryParams += '&' + encodeURIComponent('pageNo') + '=' + encodeURIComponent('1'); /**/
            queryParams += '&' + encodeURIComponent('numOfRows') + '=' + encodeURIComponent('10'); /**/
            queryParams += '&' + encodeURIComponent('MobileOS') + '=' + encodeURIComponent('ETC'); /**/
            queryParams += '&' + encodeURIComponent('MobileApp') + '=' + encodeURIComponent('AppTest'); /**/
            queryParams += '&' + encodeURIComponent('keyword') + '=' + encodeURIComponent(keyword); /**/
            queryParams += '&' + encodeURIComponent('_type') + '=' + encodeURIComponent('json'); /**/


            // $.ajax({
            //     type: "GET",
            //     url: url+queryParams,
            //     success: function(data) {
            //
            //         console.log(data);
            //         let output = "<table class='table'>";
            //         output += "<tr><th>댓글번호</th>";
            //         output += "<th>작성자</th>";
            //         output += "<th>내용</th>";
            //         output += "<th>작성시간</th></tr>";
            //         for (let i in data) {
            //             output += "<tr>";
            //             output += "<td>" + data[i].addr1 + "</td>";
            //             output += "<td>" + data[i].homepage + "</td>";
            //             output += "<td>" + data[i].facltNm + "</td>";
            //
            //             output += "</tr>";
            //         }
            //     }
            // });
            xhr.open('GET', url + queryParams);
            xhr.onreadystatechange = function () {
                if (this.readyState == 4) { //서버 응답상태
                    alert('Status: ' + this.status + 'nHeaders: ' + JSON.stringify(this.getAllResponseHeaders()) + 'nBody: ' + this.responseText);
                    let storage = JSON.parse(this.response);  //json으로 접근
                  storage.
                    console.log(parse1);
                    for (i in storage.data.items) {
                        let tr = document.createElement('tr');
                        for (let j = 0; j < 10; j++) {
                            let td = document.createElement('td');
                            td.innerHTML = storage.data[i][j];
                            tr.appendChild(td);
                        }
                        document.querySelector("tbody").appendChild(tr);
                    }

                }


            }
            xhr.send('');

        }


    </script>
</head>
<body>
<input type="text" name="search" id="search">
<button type="submit" value="검색" onclick="search()"></button>

<table>
    <thead>
    <tr>
        <th th:value="${list.addr1}">Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Company</th>
        <th>Company</th>
        <th>Company</th>
        <th>Company</th>
        <th>Company</th>
        <th>Company</th>
        <th>Company</th>
        <th>Company</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td>Name</td>
        <td>Phone</td>
        <td>Email</td>
        <td>Company</td>
    </tr>
    </tfoot>
    <tbody>
    </tbody>
</table>



</body>
</html>